name: Test

on:
  workflow_call:
    secrets:
      CODECOV_TOKEN:
        required: true
  pull_request:

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 22
      - run: npm ci
      - run: npm test
      - if: github.actor != 'dependabot[bot]'
        name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5.5.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: smockle/headingoffset-polyfill
